/**
*	@author	Cecilia Fredriksson
*	@date	2016-03-10
*	@copy	www.ceciliafredriksson.com
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 22, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../scss/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../scss/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
*	@author	Cecilia Fredriksson
*	@date	2016-03-10
*	@copy	www.ceciliafredriksson.com
*	@usage	Set up all the basics before anything else here.
*/
/* line 52, ../scss/_config.scss */
html body {
  font-family: "gibson", sans-serif;
  background-color: white;
  color: #333333;
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
  padding: 0;
  margin: 0;
}

/* line 63, ../scss/_config.scss */
p {
  margin: 0 0 15px 0;
  font-size: 16px;
  font-weight: 400;
}

/* line 69, ../scss/_config.scss */
a {
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 77, ../scss/_config.scss */
a:link {
  text-decoration: none;
  color: white;
}

/* line 78, ../scss/_config.scss */
a:visited {
  color: white;
}

/* line 79, ../scss/_config.scss */
a:hover {
  color: #333333;
}

/* line 80, ../scss/_config.scss */
a:active {
  color: #333333;
}

/* line 82, ../scss/_config.scss */
h1 {
  font-size: 38px;
  line-height: 50px;
  font-weight: 400;
}

/* line 83, ../scss/_config.scss */
h2 {
  font-size: 38px;
  line-height: 50px;
  font-weight: 400;
}

/* line 84, ../scss/_config.scss */
h3 {
  font-size: 38px;
  line-height: 50px;
  font-weight: 400;
}

/* line 86, ../scss/_config.scss */
.font-xl {
  font-size: 65px;
}

/* line 87, ../scss/_config.scss */
.font-large {
  font-size: 42px;
}

/* line 88, ../scss/_config.scss */
.font-medium {
  font-size: 38px;
}

/* line 89, ../scss/_config.scss */
.font-small {
  font-size: 16px;
}

/* line 90, ../scss/_config.scss */
.font-smaller {
  font-size: 12px;
}

/* line 92, ../scss/_config.scss */
.margin-bottom-large {
  margin-bottom: 90px;
}

/* line 93, ../scss/_config.scss */
.padding-large-topbottom {
  padding: 90px 0;
}

/* line 94, ../scss/_config.scss */
.padding-large-leftright {
  padding: 0 90px;
}

/* line 96, ../scss/_config.scss */
.secondary-font-color {
  color: white;
}

/* line 97, ../scss/_config.scss */
.success-color {
  color: green;
}

/* line 98, ../scss/_config.scss */
.alert-color {
  color: red;
}

/* line 100, ../scss/_config.scss */
ul li {
  list-style-type: none;
}

/* GLOBAL */
/* line 11, ../scss/app.scss */
.page-wrapper {
  padding: 0 90px 0 180px;
}

/* line 15, ../scss/app.scss */
h2 {
  margin: 50px 0;
}

/* line 19, ../scss/app.scss */
section {
  padding: 15px 0 50px 0;
  border-bottom: 2px solid #ccc;
}

/* line 24, ../scss/app.scss */
.display {
  display: block;
}

/* line 28, ../scss/app.scss */
.hide {
  display: none;
}

/* line 32, ../scss/app.scss */
.center {
  text-align: center;
}

/* line 36, ../scss/app.scss */
strong {
  font-weight: bold;
}

/* line 40, ../scss/app.scss */
.margin-medium {
  margin-bottom: 50px !important;
}

/* line 44, ../scss/app.scss */
.margin-top-medium {
  margin-top: 50px !important;
}

/* line 48, ../scss/app.scss */
.folded {
  left: 0;
}

/* line 52, ../scss/app.scss */
.cf-btn {
  background-color: #01c0f4;
  border-radius: 10px;
  display: block;
  font-size: 1.6em;
  font-weight: 600;
  margin: 0 auto;
  max-width: 300px;
  padding: 20px 30px;
  text-transform: uppercase;
  width: 100%;
}

/* HEADER */
/* line 66, ../scss/app.scss */
header {
  background-image: url("../img/hero.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

/* MENUS */
/* line 76, ../scss/app.scss */
.main-menu {
  background-color: black;
  top: 32px;
  height: 100vh;
  max-width: 365px;
  width: 100%;
  padding: 30px;
  position: fixed;
  -webkit-transition: left 0.2s ease-in-out;
  -moz-transition: left 0.2s ease-in-out;
  -o-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
  z-index: 1337;
}
/* line 90, ../scss/app.scss */
.main-menu li {
  border-bottom: 1px solid #555;
}
/* line 92, ../scss/app.scss */
.main-menu li:last-child {
  border: none;
}
/* line 95, ../scss/app.scss */
.main-menu li:first-child {
  border: none;
}
/* line 98, ../scss/app.scss */
.main-menu li:nth-child(2) {
  margin-top: 30px;
  border-top: 1px solid #555;
}
/* line 104, ../scss/app.scss */
.main-menu a {
  font-size: 1.6em;
  line-height: 60px;
  display: block;
  letter-spacing: 1px;
}
/* line 110, ../scss/app.scss */
.main-menu .menu-item-logotype {
  display: block;
  background-image: url("../img/logotype.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 140px;
  width: 100%;
  height: 45px;
  text-indent: -9000px;
}
/* line 120, ../scss/app.scss */
.main-menu .hamburger-menu {
  position: absolute;
  top: 25px;
  right: 18px;
  color: white;
  font-size: 3em;
}

/* line 129, ../scss/app.scss */
.unfolded {
  left: -275px;
}
/* line 131, ../scss/app.scss */
.unfolded li {
  border: none;
}
/* line 133, ../scss/app.scss */
.unfolded li:nth-child(2) {
  border-top: none;
}

/* SOCIAL MEDIA */
/* line 141, ../scss/app.scss */
.secondary-menu {
  position: fixed;
  z-index: 1337;
  top: 62px;
  right: 0;
}
/* line 147, ../scss/app.scss */
.secondary-menu li {
  display: block;
  background-repeat: no-repeat;
  height: 40px;
  margin: 15px 0;
}
/* line 152, ../scss/app.scss */
.secondary-menu li a {
  color: transparent;
}

/* line 158, ../scss/app.scss */
.stream {
  background-image: url("../img/youtube.png");
}

/* line 161, ../scss/app.scss */
.mail {
  background-image: url("../img/mail.png");
}

/* line 164, ../scss/app.scss */
.facebook {
  background-image: url("../img/facebook.png");
}

/* line 167, ../scss/app.scss */
.instagram {
  background-image: url("../img/instagram.png");
}

/* line 170, ../scss/app.scss */
.twitter {
  background-image: url("../img/facebook.png");
}

/* line 173, ../scss/app.scss */
.linkedin {
  background-image: url("../img/facebook.png");
}

/* line 176, ../scss/app.scss */
.website {
  background-image: url("../img/youtube.png");
}

/* line 179, ../scss/app.scss */
.snapchat {
  background-image: url("../img/facebook.png");
}

/* HOME */
/* line 186, ../scss/app.scss */
.cf-ticket-section article {
  padding: 0 30px;
}

/* line 192, ../scss/app.scss */
.cf-moderator-section a, .cf-talare-section a {
  color: #333333;
}
/* line 194, ../scss/app.scss */
.cf-moderator-section a:hover, .cf-talare-section a:hover {
  color: #01c0f4;
}

/* line 200, ../scss/app.scss */
.the-grid {
  text-align: center;
}
/* line 202, ../scss/app.scss */
.the-grid li {
  list-style: none;
  display: inline-table;
  margin: 0 15px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 20%;
}

/* line 213, ../scss/app.scss */
figcaption h2 {
  margin: 25px 0;
}

/* SINGLE PAGE */
/* line 219, ../scss/app.scss */
body.single header, body.page-template-page-program header {
  display: none;
}

/* line 223, ../scss/app.scss */
.social-media-icons {
  margin: 100px 0;
}
/* line 225, ../scss/app.scss */
.social-media-icons li {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  max-width: 70px;
  margin-bottom: 30px;
}
/* line 232, ../scss/app.scss */
.social-media-icons li a {
  color: transparent;
}

/* PROGRAM */
/* line 239, ../scss/app.scss */
.cf-program-section {
  border-bottom: none;
  font-weight: 400;
  padding: 45px 0;
}
/* line 243, ../scss/app.scss */
.cf-program-section:first-child {
  padding: 90px 0 45px 0;
}
/* line 246, ../scss/app.scss */
.cf-program-section .cf-program {
  border-bottom: 1px solid #555;
}
/* line 249, ../scss/app.scss */
.cf-program-section p, .cf-program-section ul {
  margin: 0;
  padding: 15px;
}
/* line 253, ../scss/app.scss */
.cf-program-section .cf-program-label, .cf-program-section .cf-program-saturday, .cf-program-section .cf-program-sunday {
  color: white;
}
/* line 256, ../scss/app.scss */
.cf-program-section .cf-program-saturday {
  background-color: #01c0f4;
  padding: 0;
}
/* line 261, ../scss/app.scss */
.cf-program-section .cf-program-sunday {
  background-color: #f7931e;
  padding: 0;
}
/* line 266, ../scss/app.scss */
.cf-program-section .cf-program-label {
  background-color: #b2b2b2;
}
/* line 270, ../scss/app.scss */
.cf-program-section li {
  display: inline-block;
}
/* line 273, ../scss/app.scss */
.cf-program-section .cf-programpunkt, .cf-program-section .cf-talare {
  width: 39%;
}
/* line 276, ../scss/app.scss */
.cf-program-section .cf-tid, .cf-program-section .cf-rum {
  width: 10%;
}

/* LIVE STREAM */
/* FOOTER */
/* line 285, ../scss/app.scss */
.copyright {
  margin: 15px 0;
}
/* line 287, ../scss/app.scss */
.copyright a {
  color: #333333;
}
/* line 289, ../scss/app.scss */
.copyright a:hover {
  color: #01c0f4;
}

@media all and (max-width: 1024px) {
  /**
  *	@author	Ccilia Frediksson
  *	@date	2016-02-10
  *	@copy	www.ceciliafredrikson.com
  */
  /* line 7, ../scss/_tablet.scss */
  h2 {
    font-size: 22px;
    line-height: 1.4;
    font-weight: 600;
  }

  /* line 13, ../scss/_tablet.scss */
  .the-grid li {
    margin: 10px;
    width: 28%;
  }

  /* line 18, ../scss/_tablet.scss */
  .cf-program-section .cf-program .cf-tid, .cf-program-section .cf-program .cf-rum, .cf-program-section .cf-program .cf-programpunkt, .cf-program-section .cf-program .cf-talare {
    display: block;
    width: 100%;
  }

  /* line 23, ../scss/_tablet.scss */
  .cf-programpunkt {
    font-weight: 600;
  }

  /* line 28, ../scss/_tablet.scss */
  .cf-program-section h2 p {
    font-size: 22px;
  }

  /* line 33, ../scss/_tablet.scss */
  .cf-program-section .cf-program-saturday {
    background-color: #b2b2b2;
  }

  /* line 37, ../scss/_tablet.scss */
  .cf-program-section .cf-program-sunday {
    background-color: #b2b2b2;
  }

  /* line 42, ../scss/_tablet.scss */
  .cf-program-section.saturday .cf-program {
    border-bottom: none;
    margin: 15px 0 0 0;
    background-color: #01c0f4;
  }

  /* line 49, ../scss/_tablet.scss */
  .cf-program-section.sunday .cf-program {
    border-bottom: none;
    margin: 15px 0 0 0;
    background-color: #f7931e;
  }

  /* line 55, ../scss/_tablet.scss */
  .cf-program-section.saturday .lunch, .cf-program-section.sunday .lunch {
    background-color: #ef3ba0;
  }

  /* line 59, ../scss/_tablet.scss */
  .cf-program-section.saturday .registrering, .cf-program-section.saturday .efterfest {
    background-color: #f7931e;
  }

  /* line 63, ../scss/_tablet.scss */
  .cf-program-section.sunday .registrering {
    background-color: #01c0f4;
  }
}
@media all and (max-width: 640px) {
  /**
  *	@author	Cecilia Fredriksson
  *	@date	2016-03-10
  *	@copy	www.ceciliafredriksson.com
  */
  /* line 7, ../scss/_mobile.scss */
  .page-wrapper {
    padding: 20px;
  }

  /* line 11, ../scss/_mobile.scss */
  .cf-ticket-section article {
    padding: 0;
  }

  /* line 15, ../scss/_mobile.scss */
  .cf-program-section article {
    padding: 0;
    margin-top: 15px;
  }

  /* line 20, ../scss/_mobile.scss */
  .mobile-menu {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1337;
  }
  /* line 27, ../scss/_mobile.scss */
  .mobile-menu li {
    border-bottom: 1px solid #555;
  }
  /* line 29, ../scss/_mobile.scss */
  .mobile-menu li:last-child {
    border: none;
  }
  /* line 32, ../scss/_mobile.scss */
  .mobile-menu li:first-child {
    border: none;
  }
  /* line 35, ../scss/_mobile.scss */
  .mobile-menu li:nth-child(2) {
    border-top: 1px solid #555;
  }
  /* line 40, ../scss/_mobile.scss */
  .mobile-menu a {
    font-size: 1.2em;
    line-height: 50px;
    display: block;
    letter-spacing: 1px;
    padding: 0 20px;
  }
  /* line 47, ../scss/_mobile.scss */
  .mobile-menu .menu-item-logotype {
    display: block;
    background-image: url("../img/logotype.png");
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 150px;
    margin-top: 15px;
    margin-left: 15px;
    text-indent: -9000px;
  }

  /* line 59, ../scss/_mobile.scss */
  .mobile-hamburger-menu {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    font-size: 2em;
  }

  /* line 68, ../scss/_mobile.scss */
  .mobile-unfolded .menu-main-menu-container {
    display: none;
  }

  /* line 73, ../scss/_mobile.scss */
  .fa-bars {
    color: black;
  }

  /* line 78, ../scss/_mobile.scss */
  .cf-moderator-section li {
    padding: 0!important;
  }

  /* line 83, ../scss/_mobile.scss */
  .the-grid li {
    margin: 0;
    width: 100%;
  }

  /* line 90, ../scss/_mobile.scss */
  footer .social-media-icons li {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 15%;
  }
  /* line 96, ../scss/_mobile.scss */
  footer .social-media-icons li a {
    color: transparent;
  }
}
