/**
*	@author	Cecilia Fredriksson
*	@date	2016-03-10
*	@copy	www.ceciliafredriksson.com
*	@usage	Set up all the basics before anything else here.
*/

// SETTINGS START

// Responsive breakpoints
$mobile-breakpoint: 640px;
$tablet-breakpoint: 1024px;
// Fonts
$font-family: 'gibson', sans-serif;

// Colors
$main-font-color: #333;
$secondary-font-color: #FFF;
$main-ggm-color: #01c0f4;
$second-ggm-color: #f7931e;
$main-background-color: #FFF;
$secondary-background-color: #000;
$success-color: green;
$alert-color: red;


// Sizes
$font-xl: 65px;
$font-large: 42px;
$font-medium: 38px;
$font-default: 22px;
$font-small: 16px;
$font-smaller: 12px;
$default-line-height: 28px;
$medium-line-height: 50px;
$large-line-height: 80px;
$font-regular: 400;
$font-semibold: 600;

// Links
$active-color: $main-font-color;
$click-color: $secondary-font-color;
$hover-color: $main-font-color;
$decoration: none;

// Margins
$margin-large: 90px;
$margin-medium: 50px;
$margin-default: 15px;

// SETTINGS END
html body {
	font-family: $font-family;
	background-color: $main-background-color;
	color: $main-font-color;
	font-size: $font-small;
	font-weight: 100;
	line-height: $default-line-height;
	padding: 0;
	margin: 0;
}

p {
	margin: 0 0 $margin-default 0;
	font-size: $font-small;
	font-weight: $font-regular;
}

a {
	font-weight: $font-semibold;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

a:link { text-decoration: $decoration; color: $secondary-font-color;}
a:visited { color: $secondary-font-color; }
a:hover { color: $hover-color; }
a:active { color: $hover-color; }

h1 { font-size: $font-medium; line-height: $margin-medium; font-weight: $font-regular}
h2 { font-size: $font-medium; line-height: $margin-medium; font-weight: $font-regular}
h3 { font-size: $font-medium; line-height: $margin-medium; font-weight: $font-regular}

.font-xl { font-size: $font-xl; }
.font-large { font-size: $font-large; }
.font-medium { font-size: $font-medium; }
.font-small { font-size: $font-small; }
.font-smaller { font-size: $font-smaller; }

.margin-bottom-large { margin-bottom: $margin-large;}
.padding-large-topbottom { padding: $margin-large 0; }
.padding-large-leftright { padding: 0 $margin-large; }

.secondary-font-color { color: $secondary-font-color; }
.success-color { color: $success-color; }
.alert-color { color: $alert-color; }

ul li {
	list-style-type: none;
}
