/**
*	@author	Cecilia Fredriksson
*	@date	2016-03-10
*	@copy	www.ceciliafredriksson.com
*/
@import "reset";
@import "config";

/* GLOBAL */

.page-wrapper {
	padding: 0 $margin-large 0 ($margin-large*2);
}

h2 {
	margin: $margin-medium 0;
}

section {
	padding: $margin-default 0 $margin-medium 0;
	border-bottom: 2px solid #ccc;
}

.display {
	display: block;
}

.hide {
	display: none;
}

.center {
	text-align: center;
}

strong {
	font-weight: bold;
}

.margin-medium {
	margin-bottom: $margin-medium !important;
}

.margin-top-medium {
	margin-top: $margin-medium !important;
}

.folded {
	left: 0;
}

.cf-btn {
	background-color: $main-ggm-color;
    border-radius: 10px;
	display: block;
    font-size: 1.6em;
    font-weight: $font-semibold;
    margin: 0 auto;
	max-width: 300px;
	padding: 20px 30px;
	text-transform: uppercase;
    width: 100%;
}
/* HEADER */

header {
	background-image: url('../img/hero.jpg');
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

/* MENUS */

.main-menu {
	background-color: $secondary-background-color;
	// REMOVE
	top: 32px;
	height: 100vh;
	max-width: 365px;
	width: 100%;
	padding: ($margin-default * 2);
	position: fixed;
	-webkit-transition: left 0.2s ease-in-out;
	-moz-transition: left 0.2s ease-in-out;
	-o-transition: left 0.2s ease-in-out;
	transition: left 0.2s ease-in-out;
	z-index: 1337;
	li {
		border-bottom: 1px solid #555;
		&:last-child {
			border: none;
		}
		&:first-child {
			border: none;
		}
		&:nth-child(2) {
			margin-top: 30px;
			border-top: 1px solid #555;
		}
	}

	a {
		font-size: 1.6em;
		line-height: $medium-line-height+10;
		display: block;
		letter-spacing: 1px;
	}
	.menu-item-logotype {
		display: block;
		background-image: url('../img/logotype.png');
		background-repeat: no-repeat;
		background-size: cover;
		max-width: 140px;
		width: 100%;
		height: 45px;
		text-indent: -9000px;
	}
	.hamburger-menu {
		position: absolute;
		top: 25px;
		right: 18px;
		color: $secondary-font-color;
		font-size: 3em;
	}
}

.unfolded {
	left: -275px;
	li {
		border: none;
		&:nth-child(2) {
			border-top: none;
		}
	}
}

/* SOCIAL MEDIA */

.secondary-menu {
	position: fixed;
	z-index: 1337;
	// REMOVE
	top: 62px;
	right: 0;
	li {
		display: block;
		background-repeat: no-repeat;
		height: 40px;
		margin: $margin-default 0;
		a {
			color: transparent;
		}
	}
}

.stream {
	background-image: url("../img/youtube.png");
}
.mail {
	background-image: url("../img/mail.png");
}
.facebook {
	background-image: url("../img/facebook.png");
}
.instagram {
	background-image: url("../img/instagram.png");
}
.twitter {
	background-image: url("../img/facebook.png");
}
.linkedin {
	background-image: url("../img/facebook.png");
}
.website {
	background-image: url("../img/youtube.png");
}
.snapchat {
	background-image: url("../img/facebook.png");
}

/* HOME */

.cf-ticket-section {
	article {
		padding: 0 30px;
	}
}

.cf-moderator-section, .cf-talare-section {
	a {
		color: $main-font-color;
		&:hover {
			color: $main-ggm-color;
		}
	}
}

.the-grid { 
	text-align: center;
	li {
		list-style: none;
		display: inline-table;
		margin: 0 $margin-default;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: 20%;
	}
}

figcaption h2 {
	margin: ($margin-medium/2) 0;
}

/* SINGLE PAGE */

body.single header, body.page-template-page-program header {
    display: none;
}

.social-media-icons {
	margin:  ($margin-medium*2) 0;
	li {
		display: inline-block;
		background-repeat: no-repeat;
		background-size: contain;
		width: 100%;
		max-width: 70px;
		margin-bottom: ($margin-default*2);
		a {
			color: transparent;
		}
	}
}

/* PROGRAM */
.cf-program-section {
	border-bottom: none;
	font-weight: 400;
	padding: 45px 0;
	&:first-child {
		padding: $margin-large 0 ($margin-large/2) 0;
	}
	.cf-program {
		border-bottom: 1px solid #555;
	}
	p , ul {
		margin: 0;
		padding: $margin-default;
	}
	.cf-program-label, .cf-program-saturday, .cf-program-sunday {
		color: $secondary-font-color;
	}
	.cf-program-saturday {
		background-color: $main-ggm-color;
		padding: 0;
	}
	
	.cf-program-sunday {
		background-color: #f7931e;
		padding: 0;
	}
	
	.cf-program-label {
		background-color: #b2b2b2;
	}
	
	li {
		display: inline-block;
	}
	.cf-programpunkt, .cf-talare {
		width: 39%;
	}
	.cf-tid, .cf-rum {
		width: 10%;
	}
}

/* LIVE STREAM */

/* FOOTER */

.copyright {
	margin: $margin-default 0;
	a {
	color: $main-font-color;
		&:hover {
			color: $main-ggm-color;
		}
	}
}

@media all and (max-width: $tablet-breakpoint) {
	@import "tablet";
}

@media all and (max-width: $mobile-breakpoint) {
	@import "mobile";
}
